/*
Main Css File
Author - Tolu Adesina
Project - GaraHub
*/

@import "./variables.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--default-font-family);
  font-size: var(--default-font-size);
}

/* Defaults */
.gh-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gh-space-between {
  display: flex;
  justify-content: space-between;
}

.container {
  display: flex;
  width: 100%;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
}

.header .top-header {
  display: none;
  background-color: var(--light-grey);
  padding: 0.5rem 0;
}

.header .main-header {
  background-color: #ffffff;
  border-bottom: 1px solid var(--medium-grey);
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .main-header .mobile-menu {
  display: flex;
  position: relative;
  width: 15px;
  height: 12px;
  margin-right: .5rem;
  cursor: pointer;
  z-index: 2;
}

.header .main-header .mobile-menu .hamburger {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--black);
}

.header .main-header .mobile-menu .hamburger:first-of-type {
  top: 0
}

.header .main-header .mobile-menu .hamburger:nth-child(2) {
  top: 45%
} 

.header .main-header .mobile-menu .hamburger:last-of-type {
  bottom: 0;
}

/* .header .nav-header {} */

.header .nav-drawer {
  width: 100%;
  height: calc(100vh - 51px);
  background-color: var(--white);
  position: absolute;
  transform: translate3d(-100%, 0, 0);
  transition: transform 0.5s ease;
  padding: 1rem;
  z-index: 4;
}

.header .nav-drawer.isActive {
  transform: translateZ(0);
}

.header .nav-drawer .close-menu {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 1rem;
  left: 1rem;
}

.header .nav-drawer .close-menu::before,
.header .nav-drawer .close-menu::after {
  content: '';
  position: absolute;
  top: .5rem;
  right: .1rem;
  width:  100%;
  height: 2px;
  background-color: var(--black);
}

.header .nav-drawer .close-menu::before {
  transform: rotate(45deg)
}

.header .nav-drawer .close-menu::after {
  transform: rotate(-45deg)
}

/* Temporary styling */
.header .nav-drawer p {
  margin-left: 20px;
}

/* main Section - Banner */
.main-section {
  padding: 0.8rem;
}

.main-section .banner {
  display: flex;
  flex-direction: column;
}

.main-section .banner .banner-section {
  width: 100%;
  height: 10.5rem;
  border-radius: .25rem;
  overflow: hidden;
  display: flex;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .25);
}

.main-section .banner .banner-section .banner-image {
  width: 100%;
  object-fit: cover;
}

.main-section .service-section {
  display: flex;
  margin: .5rem 0;
}

.main-section .service-section .container {
  flex-direction: column;
}

.main-section .service-section .service-item {
  display: flex;
  background-image: linear-gradient(to right, var(--gh-aqua), var(--gh-pink));
  background-color: antiquewhite;
  padding: 0.5rem;
  margin: .25rem 0
}

.main-section .service-section .service-item .service-item-title {
  display: flex;
  flex: 0 0 30%;
  align-items: center;
  padding: 0 1rem;
  border-right: 1px solid var(--medium-grey);
}

.main-section .service-section .service-item .service-item-title h3 {
  word-wrap: break-word;
  text-align: right;
  font-size: 14px;
  line-height: 1;
}

.main-section .service-section .service-item .service-item-content {
  flex: 0 0 70%;
  padding: 0 1rem;
}

.main-section .service-section .service-item .service-item-content p {
  font-size: 10px;
}

.main-section .service-section .service-item .service-item-content p span {
  font-weight: 600;
  display: flex;
  font-size: 11px;
}

@media screen and (min-width: 768px) {
  .header .top-header {
    display: flex;
    font-size: 10px;
  }

  .container {
    width: 100%;
    max-width: 1180px;
  }

  .header .main-header .mobile-menu {
    display: none;
  }

  .main-section .banner {
    flex-direction: row;
    justify-content: center;
  }

  .main-section .service-section {
    justify-content: center;
  }

  .main-section .service-section .container {
    flex-direction: row;
  }

  .main-section .service-section .service-item {
    max-width: 270px;
  }

  .main-section .service-section .service-item .service-item-title h3 {
    font-size: 12px;
  }

  .main-section .service-section .service-item .service-item-content p {
    font-size: 8px;
  }

  .main-section .service-section .service-item .service-item-content p span {
    font-size: 10px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    padding: 0 1rem;
  }

  .main-section .service-section .service-item {
    width: 100%;
    max-width: 350px;
  }
}